<template>
  <footer class="footer">
    <div class="primary-container">
      <div class="social-m">
        <!--
        <ul class="social-media-list">
          <li class="media-icon" v-for="(media, index) in socialMediaList" :key="index">
            <a target="_blank" :href="socialMediaUrl(media.id)" :title="media.title">
              <component v-bind:is="media.svgComponent"></component>
            </a>
          </li>
        </ul>
        -->
        <!--
        <div class="terms-and-privacy">
          <span>
            <a target="_blank">Terms</a>
          </span> <span style="color: #AAAAAA;"> | </span>
          <span>
            <a target="_blank">Privacy</a>
          </span>
        </div>
        -->
        <hr class="line">
      </div>
      <div class="resource-list">
        <div class="resource-item" v-for="(resource, index) in resourceList" :key="index">
          <h2 class="subtitle-1">{{ resource.title }}</h2>
          <ul class="body-2">
            <li v-for="(item, itemIndex) in resource.list" :key="itemIndex">
              <a :to="item.url" :title="item.title">{{ item.title }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="website-phrase">
        <img id="logo" :width="48" alt="Website logo" src="../../assets/logo-no-outline.png">
        <h1 class="subtitle-1"> - "Everyone can play."</h1>
      </div>
    </div>
    <!--
    <div class="language-container">

    </div>
    -->
  </footer>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { State } from 'vuex-class'

import DiscordLogo from '../../assets/social/discord.svg'
import TwitterLogo from '../../assets/social/twitter.svg'
import FacebookLogo from '../../assets/social/facebook.svg'
import YoutubeLogo from '../../assets/social/youtube.svg'
import LinkedInLogo from '../../assets/social/linkedin.svg'
import GitlabLogo from '../../assets/social/gitlab.svg'

@Component({
  components: {
    DiscordLogo,
    TwitterLogo,
    FacebookLogo,
    YoutubeLogo,
    LinkedInLogo,
    GitlabLogo
  }
})
class WebsiteFooter extends Vue {
  @State('appConfig') appConfig?: any

  resourceTable: { [resourceName: string]: {
    title: string,
    orderIndex: number,
    list: Array<{ title: string, url: string }>
  }} = {
    /*
    creating_games: {
      title: 'Creating Games',
      orderIndex: 0,
      list: [
        { title: 'Inspiration', url: '' },
        { title: 'Philosophy', url: '' },
        { title: 'Having Fun', url: '' },
        { title: 'Storytelling', url: '' },
        { title: 'Sound & Music', url: '' },
        { title: 'Art & Visual Style', url: '' },
        { title: 'Programming & A.I.', url: '' },
        { title: 'Resources', url: '' }
      ]
    },
    */
    platform: {
      title: 'Platform',
      orderIndex: 1,
      list: [
        { title: 'Features', url: '' },
        // { title: 'Limitations', url: '' },
        // { title: 'Roadmap', url: '' },
        { title: 'Open Source', url: 'https://gitlab.com/enoplay-org' }
        // { title: 'API Docs', url: '' },
        // { title: 'Fediverse', url: '' }
      ]
    },
    support: {
      title: 'Support',
      orderIndex: 2,
      list: [
        // { title: 'FAQ', url: '' },
        // { title: 'Legal', url: '' },
        // { title: 'Status', url: '' },
        // { title: 'Community Forum', url: '' },
        // { title: 'Learning', url: '' },
        // { title: 'Creating Games', url: '' },
        // { title: 'Creating Mods', url: '' },
        { title: 'Contact Us', url: '' }
      ]
    },
    company: {
      title: 'About',
      orderIndex: 3,
      list: [
        { title: 'Team', url: '' }
        // { title: 'Blog', url: '' },
        // { title: 'Press', url: '' },
        // { title: 'Contribute', url: '' },
        // { title: 'Shop', url: '' }
      ]
    }
  }

  socialMediaTable: { [socialMediaName: string]: {
    orderIndex: number, title: string, svgComponent: string, id: string
  }} = {
    discord: { orderIndex: 0, title: 'Discord', svgComponent: DiscordLogo, id: 'discord' },
    twitter: { orderIndex: 1, title: 'Twitter', svgComponent: TwitterLogo, id: 'twitter' },
    facebook: { orderIndex: 2, title: 'Facebook', svgComponent: FacebookLogo, id: 'facebook' },
    youtube: { orderIndex: 3, title: 'Youtube', svgComponent: YoutubeLogo, id: 'youtube' },
    linkedin: { orderIndex: 4, title: 'LinkedIn', svgComponent: LinkedInLogo, id: 'linkedin' },
    gitlab: { orderIndex: 5, title: 'Gitlab', svgComponent: GitlabLogo, id: 'gitlab' }
  }

  get resourceList (): any[] {
    return Object.keys(this.resourceTable).map((resourceName) => this.resourceTable[resourceName])
      .sort((resourceA, resourceB) => resourceA.orderIndex - resourceB.orderIndex)
  }

  get socialMediaList (): any[] {
    return Object.keys(this.socialMediaTable).map((socialMediaName) => this.socialMediaTable[socialMediaName])
      .sort((mediaA, mediaB) => mediaA.orderIndex - mediaB.orderIndex)
  }

  socialMediaUrl (_mediaID: string): string {
    return '' // this.appConfig.social[mediaID]
  }
}

export default WebsiteFooter
</script>

<style lang="scss" scoped>
@import '../../assets/styles/variables';

a {
  @extend .common-link;
}

.primary-container {
  background-image: linear-gradient(to bottom right, #212121, $dark-background-color);
  padding: 45px 0px;
}

.website-phrase {
  // margin: 0px auto;
  //ctext-align: center;
  text-align: center;

  img {
    margin-bottom: 12px;
  }
}

.resource-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px auto;
}

.resource-item {
  margin: 0px 24px;
  margin-bottom: 16px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 10px 0px;
    }
  }
}

.language-container {
  padding: 32px 32px;
}

.social-m {

}

.terms-and-privacy {
  float: right;
  margin-left: 12px;
  margin-right: 12px;
}

.line {
  margin-top: 24px;
  margin-bottom: 48px;
  border-top: 1px solid #555555;
  border-bottom: 0px;
}

.social-media-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  .media-icon {
    width: 24px;
    color: white;
    margin-right: 24px;

    path {
      color: gray;
    }

    &:hover {
      path {
        color: white;
      }
    }
  }
}
</style>
