<template>
  <div class="header">
    <v-app-bar :app="showWebsiteHeader" :fixed="!showWebsiteHeader" @mouseover="toggleShowWebsiteHeader(true)"
      :class="{ 'main-header': true, 'slide-out': !showWebsiteHeader, 'slide-in': showWebsiteHeader }">
      <!-- Project Icon, Project Name -->
      <v-list-item class="header-item">
        <router-link to="/">
          <v-list-item-icon style="margin-left: 0px; margin-right: 8px;">
            <v-img width="30" src="../../assets/logo-no-outline.png"></v-img>
          </v-list-item-icon>
        </router-link>
        <v-list-item-content>
            <h1 class="headline website-name">
              <router-link to="/">
                {{ projectName }}
              </router-link>
            </h1>
        </v-list-item-content>
      </v-list-item>
      <v-spacer></v-spacer>

      <!-- Text Search -->
      <div v-show="showFullTextField" class="text-search-container header-item" style="display: flex; flex-direction: row; vertical-align: center; margin: auto; align-items: center">
        <v-text-field dense outlined label="Search Games" hide-details></v-text-field>
        <v-btn outlined @click="navigateToSearchPage()">
          <v-icon>search</v-icon>
        </v-btn>
      </div>
      <v-spacer></v-spacer>

      <div>
        <!-- Search -->
        <v-btn v-show="!showFullTextField" depressed icon @click="isVisibleSearchDialog = true">
          <v-icon>search</v-icon>
        </v-btn>
        <!-- Upload Game -->
        <v-btn v-show="!isMobileDevice" depressed @click="showGameUploadDialog()">
          <v-icon left>upload</v-icon>
          <span>Upload Game</span>
        </v-btn>
        <!-- Chat -->
        <v-btn v-show="!isMobileDevice" depressed @click="toggleShowChatNavigationDrawer()">
          <v-icon left>chat</v-icon>
          <span>Chat</span>
        </v-btn>
        <!-- Profile -->
        <v-menu class="header-item" offset-y open-on-hover >
          <template v-slot:activator="{ on, attrs }">
            <v-btn depressed v-bind="attrs" v-on="on">
              <!--
              <v-avatar size="30">
                <v-img src="../../assets/logo-no-outline.png"></v-img>
              </v-avatar>
              -->
              <v-icon>account_circle</v-icon>
              <v-icon right>arrow_drop_down</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(item, index) in profileDropdownListFiltered" :key="index" v-show="item.isVisible" link @click="item.action()">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-app-bar>
    <!--
    <div style="background: inherit; width: 100%; height: 56px;" @mouseover="toggleShowWebsiteHeader(true)"></div>
    -->
    <!--
    <v-app-bar id="game-play-header" elevation="0" text app :class="{ 'pulsate': showWebsiteHeaderShadow }"
        @mouseover="toggleShowWebsiteHeader(true)"></v-app-bar>
    -->
    <UserSignInDialog :isVisibleDialog="isVisibleUserSignInDialog" v-on:toggleShowDialog="isVisibleUserSignInDialog = $event.isVisible" />
    <UserProfileDialog :isVisibleDialog="isVisibleUserProfileDialog" v-on:toggleShowDialog="isVisibleUserProfileDialog = $event.isVisible" />
    <GameUploadDialog :isVisibleDialog="isVisibleGameUploadDialog" v-on:toggleShowDialog="isVisibleGameUploadDialog = $event.isVisible" />
    <SearchDialog :isVisibleDialog="isVisibleSearchDialog" v-on:toggleShowDialog="isVisibleSearchDialog = $event.isVisible" />
    <ChatNavigationDrawer :isVisibleNavigationDrawer="isVisibleChatNavigationDrawer" v-on:toggleShowNavigationDrawer="isVisibleChatNavigationDrawer = $event.isVisible" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { State, Mutation, Action, Getter } from 'vuex-class'

import { projectVariables } from '../../env/project'

import UserSignInDialog from '../User/SignInDialog.vue'
import UserProfileDialog from '../User/ProfileDialog.vue'
import GameUploadDialog from '../Game/UploadDialog.vue'
import SearchDialog from '../Search/Dialog.vue'
import ChatNavigationDrawer from '../Chat/NavigationDrawer.vue'

import { TOGGLE_SHOW_WEBSITE_HEADER } from '../../store/mutations'

const namespace = 'user'

@Component({
  components: {
    UserSignInDialog,
    UserProfileDialog,
    GameUploadDialog,
    SearchDialog,
    ChatNavigationDrawer
  }
})
class WebsiteHeader extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean
  @State('showWebsiteHeader') showWebsiteHeader?: boolean

  @Getter('isAuthenticatedUser', { namespace }) isAuthenticatedUser?: any

  @Mutation(TOGGLE_SHOW_WEBSITE_HEADER) toggleShowWebsiteHeader: any

  isVisibleUserSignInDialog: boolean = false
  isVisibleUserProfileDialog: boolean = false
  isVisibleGameUploadDialog: boolean = false
  isVisibleSearchDialog: boolean = false
  isVisibleChatNavigationDrawer: boolean = false

  projectName: string = projectVariables.projectName

  profileDropdownList: any[] = [
    { icon: 'person', name: 'Sign In', isVisible: true, action: () => 0 },
    { icon: 'person', name: 'Profile', isVisible: true, action: () => 0 },
    { icon: 'chat', name: 'Chat', isVisible: true, action: () => 0 },
    { icon: 'upload', name: 'Upload Game', isVisible: true, action: () => 0 }
  ]

  async mounted () {
    //
  }

  get profileDropdownListFiltered () {
    const profileDropdownList = this.profileDropdownList
    profileDropdownList[0].isVisible = !this.isAuthenticatedUser
    profileDropdownList[0].action = () => {
      this.isVisibleUserSignInDialog = true
    }

    // Profile
    profileDropdownList[1].isVisible = this.isAuthenticatedUser
    profileDropdownList[1].action = () => {
      this.isVisibleUserProfileDialog = true
    }

    // Chat
    profileDropdownList[2].isVisible = this.isMobileDevice!
    profileDropdownList[2].action = this.toggleShowChatNavigationDrawer

    // Upload Game
    profileDropdownList[3].isVisible = this.isMobileDevice!
    profileDropdownList[3].action = this.showGameUploadDialog
    return profileDropdownList
  }

  get showFullTextField () {
    return !this.isMobileDevice && !this.isVisibleChatNavigationDrawer
  }

  showGameUploadDialog () {
    if (!this.isAuthenticatedUser) {
      this.isVisibleUserSignInDialog = true
      return
    }

    this.isVisibleGameUploadDialog = true
  }

  toggleShowChatNavigationDrawer () {
    this.isVisibleChatNavigationDrawer = !this.isVisibleChatNavigationDrawer
  }

  navigateToSearchPage () {
    this.$router.push({ name: 'search' })
  }
}

export default WebsiteHeader

</script>

<style lang="scss">

$slide-out-speed: 1s;
$slide-in-speed: 0.2s;

$play-toolbar-background-color: transparent;
$play-toolbar-pulsate-color: #D500F9;

.header {
  a {
    text-decoration: none;
    color: inherit !important;
  }
}

.website-name  {
  width: fit-content;
}

.header-item {
  flex: 1 1 0px !important;
}

.text-search-container {
  flex: 2 1 0px !important;
}

.main-header {
  z-index: 2;
}

#game-play-header {
  z-index: 1;
  background-color: $play-toolbar-background-color;
}

/* Slide In / Slide Out */

.slide-out {
  animation-name: slideOut;
  animation-duration: $slide-out-speed;
  animation-fill-mode: forwards;
}

.slide-in {
  animation-name: slideIn;
  animation-duration: $slide-in-speed;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  from {
    // transform: translateY(0%);
    opacity: 1;
  }
  to {
    // transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    // transform: translateY(-100%);
    opacity: 0;
  }
  to {
    // transform: translateY(0%);
    opacity: 1;
  }
}

/* Pulsate */

.pulsate {
  animation-name: pulsate;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes pulsate {
  from {
    background-color: $play-toolbar-background-color;
  }

  to {
    background-color: $play-toolbar-pulsate-color;
  }
}

</style>
