<template>
  <div class="chat-navigation-drawer">
    <v-navigation-drawer
      app disable-resize-watcher right stateless
      v-model="isVisibleChatNavigationDrawer" width="320"
      id="chat-nav-drawer">
      <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
        <v-toolbar-title>
          <div v-if="true">
            <v-icon left>chat</v-icon>
            <span>Chat</span>
          </div>
          <div v-else>
            <v-icon left>back_arrow</v-icon>
            <span>Back</span>
          </div>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
          <v-icon>close</v-icon>
        </v-btn>
      </v-app-bar>
      <!--
      <ChatCommunityContent />
      -->
      <ChatMessageContent />
    </v-navigation-drawer>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Mutation } from 'vuex-class'

import ChatCommunityContent from './NavigationDrawer/CommunityContent.vue'
import ChatMessageContent from './NavigationDrawer/MessageContent.vue'

@Component({
  components: {
    ChatCommunityContent,
    ChatMessageContent
  }
})
class ChatNavigationDrawer extends Vue {
  @Prop({ default: false }) isVisibleNavigationDrawer?: boolean
  // @State('showChatNav') showChatNav?: boolean
  // @Getter('selectedChatChannel', { namespace }) selectedChatChannel?: ChatChannel
  // @Getter('chatList', { namespace }) chatList?: Chat[]
  // @Mutation(TOGGLE_SHOW_CHAT_NAV) toggleChatNav: any

  get enableChatNav (): boolean {
    // return this.showChatNav!
    return true
  }

  set enableChatNav (value: boolean) {
    // this.toggleChatNav(value)
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowNavigationDrawer', { isVisible })
  }

  get isVisibleChatNavigationDrawer () {
    return this.isVisibleNavigationDrawer!
  }

  set isVisibleChatNavigationDrawer (isVisible: boolean) {
    this.emitToggleShowContent({ isVisible })
  }
}

export default ChatNavigationDrawer
</script>
<style lang="scss" scoped>

.v-navigation-drawer {
  border-left: 1px solid black !important;
}

</style>
