<template>
  <div class="user-interface-3-error-message">
    <v-dialog v-model="showErrorMessageDialog" width="400">
      <v-card style="position: relative">
        <v-app-bar class="error" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <v-icon left>error</v-icon>
            Error Message
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="emitMessageToCloseDialog()">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4">
          {{ errorMessage }}
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {}
})
class UserInterface3ErrorMessage extends Vue {
  @Prop({ default: false }) showErrorMessageDialog?: boolean
  @Prop({ default: '' }) errorMessage?: string

  emitMessageToCloseDialog () {
    this.$emit('close-dialog', true)
  }
}

export default UserInterface3ErrorMessage

</script>
