<template>
  <div>
    <v-dialog v-model="isVisibleUserProfileDialog" width="600">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <v-icon left>person</v-icon>
            <span>Profile</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4">
          <UserView />
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import UserView from '../../views/UserView.vue'

@Component({
  components: {
    UserView
  }
})
class UserProfileDialog extends Vue {
  @Prop({ default: true }) isVisibleDialog?: boolean

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowDialog', { isVisible })
  }

  get isVisibleUserProfileDialog () {
    return this.isVisibleDialog!
  }

  set isVisibleUserProfileDialog (isVisible: boolean) {
    this.emitToggleShowContent({ isVisible })
  }
}

export default UserProfileDialog
</script>
