<template>
  <div>
    <v-dialog v-model="isVisibleUserSettingsDialog" width="600">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <v-icon left>settings</v-icon>
            <span>Settings</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4">
          <v-container text-center>
            <v-btn class="warning" @click="logoutFunction()">
              <v-icon left>logout</v-icon>
              <span>Logout</span>
            </v-btn>
          </v-container>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Action } from 'vuex-class'

import UserView from '../../views/UserView.vue'

const namespace = 'user'

@Component({
  components: {
    UserView
  }
})
class UserSettingsDialog extends Vue {
  @Prop({ default: true }) isVisibleDialog?: boolean

  @Action('logout', { namespace }) logout?: any

  logoutFunction () {
    this.logout()
    location.reload()
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowDialog', { isVisible })
  }

  get isVisibleUserSettingsDialog () {
    return this.isVisibleDialog!
  }

  set isVisibleUserSettingsDialog (isVisible: boolean) {
    this.emitToggleShowContent({ isVisible })
  }
}

export default UserSettingsDialog
</script>
