<template>
  <div>
    <v-dialog v-model="isVisibleUserSignInDialog" width="400">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <div v-if="visibleDialogContent === signInContentType">
              <v-icon left>person</v-icon>
              Sign In
            </div>
            <div v-else>
              <v-btn icon @click="visibleDialogContent = signInContentType">
                <v-icon>arrow_back</v-icon>
              </v-btn>
              Back
            </div>
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4">
          <v-container v-if="visibleDialogContent === signInContentType" class="sign-in-dialog-content" text-center>
            <v-form ref="signInForm" v-model="isValidSignInForm" @submit.prevent="signInWithEmailAndPasswordFunction">
              <v-text-field outlined v-model="signInEmailAddress" :rules="[requireInput, requireValidEmailAddress]"
                label="Email Address"></v-text-field>

              <PasswordInput :passwordValue="signInPassword" v-on:passwordValue="signInPassword = $event" :rules="[requireInput]" />
              <v-btn type="submit" class="primary mb-4">
                <v-icon left>person</v-icon>
                Sign In With Email
              </v-btn>
            </v-form>
            <div class="sign-in-with-provider-list">
              <v-btn class="error mb-4" @click="signInWithGoogleFunction()">
                <v-icon left>account_circle</v-icon>
                Sign In With Google
              </v-btn>
              <br>
              <v-btn class="primary mb-4" @click="visibleDialogContent = createAccountContentType">
                <v-icon left>person_add</v-icon>
                Create New Account
              </v-btn>
              <br>
              <v-btn text class="mb-4" @click="visibleDialogContent = passwordRecoveryContentType">
                Forgot Password?
              </v-btn>
            </div>
          </v-container>
          <v-container v-else-if="visibleDialogContent === createAccountContentType" class="create-account-dialog-content" text-center>
            <v-form ref="createAccountForm" v-model="isValidCreateAccountForm" @submit.prevent="createAccount">
              <v-text-field outlined v-model="createAccountEmailAddress" :rules="[requireInput, requireValidEmailAddress]"
                label="Email Address"></v-text-field>

              <PasswordInput :passwordValue="createAccountPassword1" v-on:passwordValue="createAccountPassword1 = $event"
                :rules="[requireInput, requireMoreThanN1Characters]" />
              <PasswordInput :passwordValue="createAccountPassword2" v-on:passwordValue="createAccountPassword2 = $event"
                :passwordInputLabel="'Repeat Password'"
                :rules="[requireInput, requirePassword1AndPassword2Match]"/>
              <v-btn type="submit" class="primary mb-4">
                <v-icon left>person_add</v-icon>
                Create Account
              </v-btn>
            </v-form>
          </v-container>
          <v-container v-else-if="visibleDialogContent === passwordRecoveryContentType" class="send-password-recovery-email-dialog-content" text-center>
            <v-form ref="passwordRecoveryForm" v-model="isValidPasswordRecoveryForm" @submit.prevent="sendPasswordResetLink">
              <v-text-field outlined v-model="passwordRecoveryEmailAddress" :rules="[requireInput, requireValidEmailAddress]"
                label="Email Address"></v-text-field>

              <v-btn type="submit" class="primary mb-4">
                <v-icon left>send</v-icon>
                Send Password Recovery Link
              </v-btn>
            </v-form>
          </v-container>
        </div>
        <ErrorMessageDialog
          :showErrorMessageDialog="showErrorMessage"
          :errorMessage="errorMessage"
          v-on:close-dialog="showErrorMessage = false" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State, Action } from 'vuex-class'

import PasswordInput from '../Website/Input/PasswordInput.vue'
import ErrorMessageDialog from '../Website/UserInterface/ErrorMessageDialog.vue'

const namespace = 'user'

@Component({
  components: {
    PasswordInput,
    ErrorMessageDialog
  }
})
class UserSignInDialog extends Vue {
  @Prop({ default: true }) isVisibleDialog?: boolean
  @Prop({ default: '' }) accountId?: string

  @State('serviceAccount') serviceAccount?: any

  @Action('signInWithEmailAndPassword', { namespace }) signInWithEmailAndPassword?: any
  @Action('signInWithGoogle', { namespace }) signInWithGoogle?: any

  @Action('signUpWithEmailAndPassword', { namespace }) signUpWithEmailAndPassword?: any
  @Action('createServiceAccountRecoveryMessage') createServiceAccountRecoveryMessage?: any

  visibleDialogContent = 'sign-in'

  signInContentType = 'sign-in'
  createAccountContentType = 'create-account'
  passwordRecoveryContentType = 'password-recovery'

  signInEmailAddress: string = ''
  signInPassword: string = ''

  isValidSignInForm: boolean = false

  createAccountEmailAddress: string = ''
  createAccountPassword1: string = ''
  createAccountPassword2: string = ''

  isValidCreateAccountForm: boolean = false

  passwordRecoveryEmailAddress: string = ''

  isValidPasswordRecoveryForm: boolean = false

  showErrorMessage: boolean = false
  errorMessage: string = ''

  async signInWithGoogleFunction () {
    try {
      await this.signInWithGoogle()
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      return
    }
    this.emitToggleShowContent({ isVisible: false })
  }

  async signInWithEmailAndPasswordFunction () {
    if (!this.isValidSignInForm) {
      return
    }

    try {
      await this.signInWithEmailAndPassword({
        emailAddress: this.signInEmailAddress,
        password: this.signInPassword
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      return
    }

    this.emitToggleShowContent({ isVisible: false })

    ;(this.$refs['signInForm'] as any).reset()
  }

  async createAccount () {
    if (!this.isValidCreateAccountForm) {
      return
    }

    try {
      await this.signUpWithEmailAndPassword({
        emailAddress: this.createAccountEmailAddress,
        password: this.createAccountPassword1
      })

      await this.signInWithEmailAndPassword({
        emailAddress: this.createAccountEmailAddress,
        password: this.createAccountPassword1
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      return
    }

    this.emitToggleShowContent({ isVisible: false })

    ;(this.$refs['createAccountForm'] as any).reset()

    this.visibleDialogContent = this.signInContentType
  }

  async sendPasswordResetLink () {
    if (!this.isValidPasswordRecoveryForm) {
      return
    }

    await this.createServiceAccountRecoveryMessage({
      emailAddress: this.passwordRecoveryEmailAddress
    })

    ;(this.$refs['passwordRecoveryForm'] as any).reset()

    this.visibleDialogContent = this.signInContentType
  }

  requireInput (inputValue: any) {
    return !!inputValue || 'Must have input value'
  }

  requireMoreThanN1Characters (inputValue: any) {
    return inputValue.length >= 5 || 'Must have at least than 5 characters'
  }

  requirePassword1AndPassword2Match (inputValue: any) {
    return inputValue === this.createAccountPassword1 || 'Must match password'
  }

  requireValidEmailAddress (inputValue: any) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return re.test(inputValue) || 'Must be valid email address'
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowDialog', { isVisible })
  }

  get isVisibleUserSignInDialog () {
    return this.isVisibleDialog!
  }

  set isVisibleUserSignInDialog (isVisible: boolean) {
    this.emitToggleShowContent({ isVisible })
  }
}

export default UserSignInDialog

</script>
