<template>
  <div class="game-preview-list">
    <div class="list-title">
      <h1 class="headline">{{ gameListTitle }}</h1>
    </div>
    <div v-if="listStyle === LIST_STYLE_HORIZONTAL" class="horizontal-list ma-4">
      <GamePreview v-for="(game, index) in gameList" :key="index" :game="game" class="mr-4 mb-4 mt-4" />
    </div>
    <div v-else-if="listStyle === LIST_STYLE_VERTICAL" class="vertical-list">
      <GamePreview :previewStyle="'horizontal'" v-for="(game, index) in gameList" :key="index" :game="game" class="mr-4 mb-4 mt-4" />
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import GamePreview from './Preview.vue'

const LIST_STYLE_HORIZONTAL = 'horizontal'
const LIST_STYLE_VERTICAL = 'vertical'

@Component({
  components: {
    GamePreview
  }
})
class GamePreviewList extends Vue {
  @Prop({ default: LIST_STYLE_HORIZONTAL }) listStyle?: string
  @Prop({ default: '' }) gameListTitle?: string

  @Prop({ default: () => [] }) gameList?: any[]

  LIST_STYLE_HORIZONTAL = LIST_STYLE_HORIZONTAL
  LIST_STYLE_VERTICAL = LIST_STYLE_VERTICAL
}

export default GamePreviewList
</script>
<style lang="scss">

.horizontal-list {
  overflow-x: scroll;
  white-space: nowrap;
  * {
    display: inline-block;
    vertical-align: top;
  }
}

</style>
