<template>
  <div class="game-preview">
    <!-- Vertical Preview -->
    <v-card v-if="previewStyle === PREVIEW_STYLE_VERTICAL" class="card mx-auto" max-width="200">
      <v-img :src="game.thumbnailIconUrl" height="100px"></v-img>

      <v-card-title>
        <div class="game-name">
          {{ game.name }}
        </div>
      </v-card-title>

      <v-card-subtitle class="publisher-details">
        <v-avatar size="40" class="mr-2">
          <v-img :src="game.thumbnailIconUrl" alt="Publisher Icon"></v-img>
        </v-avatar>
        <div class="publisher-name">Blizzard Entertainment</div>
      </v-card-subtitle>

      <v-card-actions>
        <v-btn color="success" text outlined @click="navigateToGamePage()">
          Play Game
        </v-btn>

        <v-spacer></v-spacer>

        <v-chip class="primary">${{ game.price }}</v-chip>
      </v-card-actions>
    </v-card>
    <!-- Horizontal Preview -->
    <v-card v-else-if="previewStyle === PREVIEW_STYLE_HORIZONTAL">
      <v-list-item three-line>
        <v-list-item-avatar tile height="150" width="200" color="grey">
          <v-img :src="game.thumbnailIconUrl" height="150px"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="headline">
            {{ game.name }}
          </v-list-item-title>
          <v-card-subtitle class="publisher-details">
            <v-avatar size="40" class="mr-2">
              <v-img :src="game.thumbnailIconUrl" alt="Publisher Icon"></v-img>
            </v-avatar>
            <div class="publisher-name">Blizzard Entertainment</div>
          </v-card-subtitle>
          <v-card-subtitle class="minimum-description">
            {{ game.minimumDescription }}
          </v-card-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-card-actions>
        <v-btn color="success" outlined text @click="navigateToGamePage()">
          Play Now
        </v-btn>
        <v-spacer></v-spacer>
        <v-chip class="primary">${{ game.price }}</v-chip>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

const PREVIEW_STYLE_HORIZONTAL = 'horizontal'
const PREVIEW_STYLE_VERTICAL = 'vertical'

@Component({
  components: {}
})
class GamePreview extends Vue {
  @Prop({ default: PREVIEW_STYLE_VERTICAL }) previewStyle?: string
  @Prop({ default: () => { return {} } }) game?: any

  PREVIEW_STYLE_HORIZONTAL = PREVIEW_STYLE_HORIZONTAL
  PREVIEW_STYLE_VERTICAL = PREVIEW_STYLE_VERTICAL

  navigateToGamePage () {
    this.$router.push({ name: 'game', params: { gameId: 'world-of-warcraft' } })
  }
}

export default GamePreview
</script>
<style lang="scss">

.game-preview {
  .card {
    overflow: hidden;
  }
}

.game-name {
  height: 65px !important;
  overflow: hidden;
}

.publisher-details {
  display: flex !important;
  flex-direction: row;
  align-items: center;

  .publisher-name {
    max-height: 40px !important;
    overflow: hidden;
  }
}

.minimum-description {
  max-height: 50px;
  text-overflow: ellipsis;
}

</style>
