<template>
  <div>
    <v-dialog v-model="isVisibleGameUploadDialog" width="600">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <v-icon left>upload</v-icon>
            Upload Game
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4">
          <!-- App Details -->
          <UploadAppDetails class="pb-4" />
          <!-- Game Title -->
          <v-text-field label="Game Title" outlined></v-text-field>
          <!-- Game Details -->
          <v-select label="Game Price" outlined></v-select>
          <v-text-field label="Minimum Description" outlined></v-text-field>
          <v-textarea label="Maximum Description" outlined></v-textarea>
          <div>Media List</div>
          <!-- Tags -->
          <v-autocomplete v-model="selectedTagList" :items="tagList" item-text="itemName" item-value="itemName" outlined  chips
              label="Tags" multiple>
            <template v-slot:item="{ item }">
              <v-icon left>{{ item.itemIconId }}</v-icon>
              <span>{{ item.itemName }}</span>
            </template>
            <template v-slot:selection="{ item }">
              <v-chip>
                <v-icon left>{{ item.itemIconId }}</v-icon>
                <span>{{ item.itemName }}</span>
              </v-chip>
            </template>
          </v-autocomplete>
          <!-- Play Styles -->
          <v-autocomplete v-model="selectedPlayStyleList" :items="playStyleList" item-text="itemName" item-value="itemName" outlined  chips
              label="Play Styles" multiple>
            <template v-slot:item="{ item }">
              <v-icon left>{{ item.itemIconId }}</v-icon>
              <span>{{ item.itemName }}</span>
            </template>
            <template v-slot:selection="{ item }">
              <v-chip>
                <v-icon left>{{ item.itemIconId }}</v-icon>
                <span>{{ item.itemName }}</span>
              </v-chip>
            </template>
          </v-autocomplete>
          <!-- Supported Device -->
          <v-autocomplete v-model="selectedSupportedDeviceList" :items="supportedDeviceList" item-text="itemName" item-value="itemName" outlined  chips
              label="Supported Devices" multiple>
            <template v-slot:item="{ item }">
              <v-icon left>{{ item.itemIconId }}</v-icon>
              <span>{{ item.itemName }}</span>
            </template>
            <template v-slot:selection="{ item }">
              <v-chip>
                <v-icon left>{{ item.itemIconId }}</v-icon>
                <span>{{ item.itemName }}</span>
              </v-chip>
            </template>
          </v-autocomplete>
          <v-textarea label="How To Play Guide" outlined></v-textarea>
          <!--
          <UploadUserControlDetails />
          -->
        </div>
        <!-- Upload Game Button -->
        <div style="overflow-x: scroll; border-top: 1px solid #000000; position: sticky; bottom: 0px; z-index: 2; background-color: inherit;">
          <div v-if="uploadGameErrorMessage" style="text-align: center" class="pl-4 pr-4">
            <v-icon color="red" left>warning</v-icon>
            Error Message: {{ uploadGameErrorMessage }}
          </div>
          <div style="display: flex; flex-direction: row; justify-content: center;">
            <v-btn class="ma-2" color="success" tile @click="uploadGame()">
              <v-icon left>upload</v-icon>
                Upload Game
            </v-btn>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import UploadAppDetails from './Upload/AppDetails.vue'
import UploadUserControlDetails from './Upload/UserControlDetails.vue'

import { TAG_LIST } from '../../store/data/tag-list'
import { PLAY_STYLE_LIST } from '../../store/data/play-style-list'
import { SUPPORTED_DEVICE_LIST } from '../../store/data/supported-device-list'

@Component({
  components: {
    UploadAppDetails,
    UploadUserControlDetails
  }
})
class GameUploadDialog extends Vue {
  @Prop({ default: true }) isVisibleDialog?: boolean

  selectedTagList = []
  tagList = TAG_LIST

  selectedPlayStyleList = []
  playStyleList = PLAY_STYLE_LIST

  selectedSupportedDeviceList = []
  supportedDeviceList = SUPPORTED_DEVICE_LIST

  uploadGameErrorMessage: string = ''

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowDialog', { isVisible })
  }

  get isVisibleGameUploadDialog () {
    return this.isVisibleDialog!
  }

  set isVisibleGameUploadDialog (isVisible: boolean) {
    this.emitToggleShowContent({ isVisible })
  }
}

export default GameUploadDialog
</script>
