<template>
  <div class="game-view">
    <v-container>
      <!-- Game Media List -->
      <div class="game-media-list pa-4">
        <v-img :src="game.thumbnailIconUrl" class="media-item"></v-img>
        <iframe v-for="(videoUrl) in game.videoPreviewList" :key="videoUrl" class="media-item" :src="videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <v-img v-for="(imageUrl) in game.imagePreviewList" :key="imageUrl" :src="imageUrl" class="media-item" ></v-img>
      </div>
      <!-- Game Title -->
      <v-container text-center>
        <h1 class="headline" style="margin: auto">{{ game.name }}</h1>
      </v-container>
      <!-- Game Pricing -->
      <v-list>
        <v-list-item two-line>
          <v-list-item-icon>
            <v-icon>attach_money</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>${{ game.price }}</v-list-item-title>
            <v-list-item-subtitle>Game Pricing</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <!-- Action List -->
      <v-container text-center>
        <v-btn class="success" @click="navigateToGamePlay()">Buy Now</v-btn>
      </v-container>
      <!-- Like / Dislike Ratio -->
      <v-list>
        <v-list-item two-line>
          <v-list-item-icon>
            <v-icon>thumb_up</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ likeToDislikeRatio }}% • 1,000,000 Likes • 2,000,000 Dislikes</v-list-item-title>
            <v-list-item-subtitle>Like / Dislike Ratio</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-progress-linear :value="likeToDislikeRatio" height="25">
        <strong>33%</strong>
      </v-progress-linear>
      <!-- Game Publisher -->
      <v-list>
      <v-list-item two-line>
        <v-list-item-icon>
          <v-avatar size="40">
            <v-img :src="game.thumbnailIconUrl" alt="Publisher Icon"></v-img>
          </v-avatar>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Blizzard Entertainment</v-list-item-title>
          <v-list-item-subtitle>Game Publisher</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <!-- More Details -->
      <v-expansion-panels v-model="expansionPanelList" multiple>
        <v-expansion-panel>
          <v-expansion-panel-header>About This Game</v-expansion-panel-header>
          <v-expansion-panel-content>
            <div v-html="game.maximumDescription"></div>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-expansion-panel>
          <v-expansion-panel-header>Comments</v-expansion-panel-header>
          <v-expansion-panel-content>
            Lorem
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

    </v-container>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { gameList } from '../store/mock-data/game-list'

@Component({
  components: {}
})
class GameView extends Vue {
  @Prop({ default: () => { return gameList[0] } }) game?: any
  expansionPanelList = [0]

  get likeToDislikeRatio () {
    return this.game.likeToDislikeRatio
  }

  navigateToGamePlay () {
    this.$router.push({ name: 'play', params: { gameId: 'world-of-warcraft' } })
  }
}

export default GameView
</script>
<style lang="scss">

.game-media-list {
  white-space: nowrap !important;
  overflow-x: scroll !important;

  .media-item {
    display: inline-block !important;
    width: 300px !important;
    height: 200px !important;
    margin-right: 12px;
  }
}

</style>
