<template>
  <div class="game-play-view" @mouseover="toggleShowWebsiteHeader(false)">
    <iframe class="" src="https://games.crazygames.com/en_US/smash-karts/index.html" frameBorder="0"
      @focus="toggleShowWebsiteHeader(false)"></iframe>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Mutation } from 'vuex-class'

import {
  TOGGLE_SHOW_WEBSITE_HEADER,
  TOGGLE_SHOW_WEBSITE_FOOTER
} from '../store/mutations'

@Component({})
class GamePlayView extends Vue {
  @Mutation(TOGGLE_SHOW_WEBSITE_HEADER) toggleShowWebsiteHeader?: any
  @Mutation(TOGGLE_SHOW_WEBSITE_FOOTER) toggleShowWebsiteFooter?: any

  mounted () {
    this.toggleShowWebsiteFooter(false)
  }

  destroyed () {
    this.toggleShowWebsiteHeader(true)
    this.toggleShowWebsiteFooter(true)
  }
}

export default GamePlayView
</script>
<style lang="scss" scoped>
.game-play-view, iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
}
</style>
