<template>
  <div class="home-view">
    <v-container>
      <GamePreviewList :gameListTitle="'Recently Played Games'" :gameList="gameList" />
      <GamePreviewList :gameListTitle="'Recommended Games'" :gameList="gameList" />
      <GamePreviewList :gameListTitle="'Trending Games'" :gameList="gameList" />
      <GamePreviewList :gameListTitle="'Most Played Games'" :gameList="gameList" />
      <GamePreviewList :gameListTitle="'Newly Published Games'" :gameList="gameList" />
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import GamePreviewList from '../components/Game/PreviewList.vue'

import { gameList } from '../store/mock-data/game-list'

@Component({
  components: {
    GamePreviewList
  }
})
class HomeView extends Vue {
  gameList = gameList
}

export default HomeView
</script>
