<template>
  <div class="home-view">
    <v-container>
      <GamePreviewList :listStyle="'vertical'" :gameListTitle="'Search Results'" :gameList="gameList" />
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import GamePreviewList from '../components/Game/PreviewList.vue'

import { gameList } from '../store/mock-data/game-list'

@Component({
  components: {
    GamePreviewList
  }
})
class SearchView extends Vue {
  gameList = gameList
}

export default SearchView
</script>
