<template>
  <div class="user-view">
    <v-container>
      <v-container text-center>
        <!-- User Profile Image -->
        <v-avatar size="120">
          <v-img src="https://i.ytimg.com/an_webp/yqWzCV0kU_c/mqdefault_6s.webp?du=3000&sqp=CJig7ZEG&rs=AOn4CLBY0Yp2XAmJlys8Lup88GHrPvD-YA" alt="Account Icon"></v-img>
        </v-avatar>
        <!-- User Name -->
        <h1 class="headline mt-4" style="margin: auto">Account Name</h1>
      </v-container>
      <!-- Game Pricing -->
      <v-list>
        <v-list-item two-line>
          <v-list-item-icon>
            <v-icon>language</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>https://enoplay.web.app/username</v-list-item-title>
            <v-list-item-subtitle>Account Username</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
          <v-tooltip :value="isCopiedTextList[0]" slot="append" top>
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <v-btn icon large @click="copyText(digitalCurrencyAccount.accountId, 0)"><v-icon>content_copy</v-icon></v-btn>
              </div>
            </template>
            <span v-if="isCopiedTextList[0]">Copied</span>
            <span v-else>Copy Content</span>
          </v-tooltip>
        </v-list-item-icon>
        </v-list-item>
      </v-list>
      <!-- Action List -->
      <v-container text-center>
        <v-btn @click="isVisibleUserSettingsDialog = true">
          <v-icon left>settings</v-icon>
          <span>Settings</span>
        </v-btn>
      </v-container>
      <GamePreviewList :gameListTitle="'Recently Played Games'" :gameList="gameList" />
    </v-container>
    <UserSettingsDialog :isVisibleDialog="isVisibleUserSettingsDialog" v-on:toggleShowDialog="isVisibleUserSettingsDialog = $event.isVisible" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import GamePreviewList from '../components/Game/PreviewList.vue'
import UserSettingsDialog from '../components/User/SettingsDialog.vue'

import { gameList } from '../store/mock-data/game-list'

@Component({
  components: {
    GamePreviewList,
    UserSettingsDialog
  }
})
class UserView extends Vue {
  @Prop({ default: () => { return {} } }) user?: any

  isVisibleUserSettingsDialog: boolean = false

  isCopiedTextList: boolean[] = [false, false]

  gameList = gameList

  copyText (textValue: string, textIndex: number) {
    navigator.clipboard.writeText(textValue).catch((_errorMessage: any) => { /* */ })

    if (!textIndex && textIndex !== 0) {
      return
    }

    Vue.set(this.isCopiedTextList, textIndex, true)

    setTimeout(() => {
      Vue.set(this.isCopiedTextList, textIndex, false)
    }, 1000)
  }
}

export default UserView
</script>
<style lang="scss" scoped>

</style>
