<template>
  <div>
    <v-list>
      <v-list-group v-for="(chatCommunity) in chatCommunityList" :key="chatCommunity.uid"
        prepend-icon="groups" multiple>
        <template v-slot:activator>
          <v-list-item-title>{{ chatCommunity.title }}</v-list-item-title>
        </template>
        <v-list-item v-if="Object.keys(chatCommunity.channelTable).length === 0"
          @click="signInWithChat()">
          <v-list-item-title>
            Sign in with {{ chatCommunity.chatProviderUid }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item v-for="(channel) in chatCommunity.channelTable" :key="channel.uid"
          @click="selectChatChannel({ chatUID: chatCommunity.uid, chatChannelUID: channel.uid })">
          <v-list-item-icon>
            <v-icon left>chat</v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="channel.title"></v-list-item-title>
          <v-list-item-action :style="{ width: lengthOfNumber(channel.numberOfMembers) * 30 + 'px' }">
            <div class="channel-population-container">
              <v-tooltip left>
                <template v-slot:activator="{ on }">
                  <span v-on="on" class="population-status-circle"></span>
                </template>
                <span>{{ channel.numberOfMembers }} online now</span>
              </v-tooltip>
              <span>{{ channel.numberOfMembers }}</span>
            </div>
          </v-list-item-action>
        </v-list-item>
      </v-list-group>
    </v-list>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { Mutation, Action } from 'vuex-class'

const namespace = 'chat'

const defaultChatCommunityList = [{
  uid: 'enoplay',
  title: 'Enoplay',
  channelTable: {
    'personal': {
      uid: 'personal',
      title: 'Personal',
      numberOfMembers: 10
    }
  }
}, {
  uid: 'world-of-warcraft',
  title: 'World of Warcraft',
  channelTable: {
    'trade': {
      uid: 'trade',
      title: 'Trade Chat',
      numberOfMembers: 200
    }
  }
}]

@Component({
  components: {}
})
class ChatCommunityContent extends Vue {
  @Prop({ default: () => defaultChatCommunityList }) chatCommunityList?: any[]
  @Action('selectChatChannel', { namespace }) selectChatChannel?: any

  lengthOfNumber (numValue: number): number {
    return numValue.toString().length
  }
}

export default ChatCommunityContent
</script>
<style lang="scss" scoped>

$circle-width: 10px;
$circle-spacing: 5px;

$online-population-color: rgba(0,255,0,.5);

.channel-population-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .population-status-circle {
    content: '';
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
    width: $circle-width;
    height: $circle-width;
    background-color: $online-population-color;
  }
}
</style>
