<template>
  <div>
    <v-container>
      <div class="message-list-container">
        <ul ref="message-list" class="message-list">
          <li v-for="(message, index) in messageList" :key="index">
            <span class="username" :style="{ 'color': message.authorNameTextColor }">{{ message.authorName }}</span>
            <span class="colon-container">:</span>
            <span class="user-message">{{ message.textContent }}</span>
          </li>
        </ul>
      </div>
    </v-container>
    <div class="chat-message-input">
      <div id="avatar"></div>
      <div class="message-input-container">
        <v-text-field v-model="textMessage" type="text" outlined
          placeholder="Send a message" :label="authorName"
          v-on:keyup.enter="sendChatMessage"></v-text-field>
      </div>
      <div class="message-action-container">
        <v-btn id="send-btn" depressed label="Send message"
          @click="sendChatMessage()">
          <v-icon>send</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Mutation } from 'vuex-class'

const defaultMessageList = [{
  authorName: 'Name Here',
  authorNameTextColor: '#ff0000',
  textContent: 'Hello World'
}]

@Component({
  components: {}
})
class ChatMessageContent extends Vue {
  @Prop({ default: () => defaultMessageList }) messageList?: any[]

  authorName: string = ''
  textMessage: string = ''

  @Watch('messageList')
  onUpdateMessageList () {
    const messageListElement = this.$refs['message-list'] as HTMLElement
    setTimeout(() => {
      messageListElement.scrollTop = messageListElement.scrollHeight
    }, 100)
  }
}

export default ChatMessageContent
</script>

<style lang="scss" scoped>

$background-color: #212121;

$padding: 16px;
$chat-message-input-height: 112px;
$chat-message-toolbar-height: 68px;
$chat-message-list-height: calc(100vh - #{2 * $padding} - #{$chat-message-input-height} - #{$chat-message-toolbar-height});

.chat-message-list {
  position: relative;
  background-color: $background-color;
  height: $chat-message-list-height;
}

.message-list-container {
  bottom: 0;
  margin: 0;
  padding: 0;
  height: $chat-message-list-height;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.message-list {
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  flex-direction: column-reverse;
  li {
    width: calc(100% - #{$padding});
  }

  .colon-container {
    margin-right: 8px;
  }
}

.username {
  font-weight: bold;
}

.message-action-container {
  #send-btn {
    float: right;
    margin-right: 0;
  }
}
</style>
