
$font-base-url: '~@/assets/styles/fonts/roboto/roboto-v18-cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext';

// $font-base-url: '';

/* roboto-100 - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url(#{$font-base-url}-100.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-100.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url(#{$font-base-url}-100italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-100italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url(#{$font-base-url}-300.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-300.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url(#{$font-base-url}-300italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-300italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url(#{$font-base-url}-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url(#{$font-base-url}-italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url(#{$font-base-url}-500.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-500.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url(#{$font-base-url}-500italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-500italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url(#{$font-base-url}-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url(#{$font-base-url}-700italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-700italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url(#{$font-base-url}-900.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-900.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900italic - cyrillic_cyrillic-ext_latin-ext_latin_vietnamese_greek_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url(#{$font-base-url}-900italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url(#{$font-base-url}-900italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
