<template>
  <div>
    <v-dialog v-model="isVisibleSearchDialog" width="400">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <div>
              <v-icon left>search</v-icon>
              <span>Search</span>
            </div>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <v-container text-center>
          <v-text-field label="Search" outlined></v-text-field>
          <v-btn class="primary">
            <v-icon left>search</v-icon>
            <span>Search</span>
          </v-btn>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {}
})
class SearchDialog extends Vue {
  @Prop({ default: true }) isVisibleDialog?: boolean

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowDialog', { isVisible })
  }

  get isVisibleSearchDialog () {
    return this.isVisibleDialog!
  }

  set isVisibleSearchDialog (isVisible: boolean) {
    this.emitToggleShowContent({ isVisible })
  }
}

export default SearchDialog
</script>
