
<template>
  <div>
    <v-text-field :label="passwordInputLabel" v-model="passwordValueVModel"
      :type="isVisiblePassword ? '' : 'password'" @click:append="toggleShowPassword" outlined
      :rules="rules" v-on:update:error="$emit('error-message', $event)">
      <v-tooltip slot="append" top>
        <template v-slot:activator="{ on }">
          <v-icon v-on="on" color="primary" dark  @click="toggleShowPassword">
            {{ isVisiblePassword ? 'visibility_off' : 'visibility' }}
          </v-icon>
        </template>
        <span>Show or Hide Password</span>
      </v-tooltip>
    </v-text-field>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component
class PasswordInput extends Vue {
  @Prop({ default: '' }) passwordValue?: string
  @Prop({ default: 'Password' }) passwordInputLabel?: string
  @Prop({ default: () => [] }) rules?: any[]

  isVisiblePassword: boolean = false

  set passwordValueVModel (value: string) {
    this.emitPasswordValue(value)
  }

  get passwordValueVModel (): string {
    return this.passwordValue || ''
  }

  toggleShowPassword () {
    this.isVisiblePassword = !this.isVisiblePassword
  }

  emitPasswordValue (value: string) {
    this.$emit('passwordValue', value)
  }
}

export default PasswordInput
</script>
