<template>
  <v-app>
    <WebsiteHeader />
    <v-main>
      <router-view />
    </v-main>
    <WebsiteFooter v-if="showWebsiteFooter" />
  </v-app>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
// import { Watch } from 'vue-property-decorator'
import { State, Mutation, Action } from 'vuex-class'

import isMobile from 'ismobilejs'

import WebsiteHeader from './components/Website/Header.vue'
import WebsiteFooter from './components/Website/Footer.vue'

import {
  TOGGLE_IS_MOBILE_DEVICE
} from './store/mutations'

const namespace = 'user'

@Component({
  components: {
    WebsiteHeader,
    WebsiteFooter
  }
})
class App1 extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean
  @State('showWebsiteFooter') showWebsiteFooter?: boolean

  @Mutation(TOGGLE_IS_MOBILE_DEVICE) TOGGLE_IS_MOBILE_DEVICE?: any

  @Action('getUserAuthenticationInformation', { namespace }) getUserAuthenticationInformation?: any

  async mounted () {
    this.watchMobileSettings()
    await this.getUserAuthenticationInformation()
  }

  watchMobileSettings () {
    this.TOGGLE_IS_MOBILE_DEVICE(window.innerWidth < 600 || isMobile().any)

    window.addEventListener('resize', (_event) => {
      // if windows size < 600px, let's say mobile, otherwise not
      const isMobileDevice = window.innerWidth < 600 || isMobile().any

      this.TOGGLE_IS_MOBILE_DEVICE(isMobileDevice)

      if (isMobileDevice) {
        //
      }
    })
  }
}

export default App1
</script>
