
$background-color: transparent;

$thumb-border-color: #888888;

input[type=range] {
  // height: 38px;
  // -webkit-appearance: none;
  // margin: 10px 0;
  // width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  // height: 10px;
  cursor: pointer;
  animate: 0.2s;
  // box-shadow: 1px 1px 1px #000000;
  background: $background-color;
  // border-radius: 5px;
  // border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  // box-shadow: 1px 1px 1px #000000;
  border: 1px solid $thumb-border-color;
  // height: 30px;
  // width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  // margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $background-color;
}
input[type=range]::-moz-range-track {
  width: 100%;
  // height: 10px;
  cursor: pointer;
  animate: 0.2s;
  // box-shadow: 1px 1px 1px #000000;
  background: $background-color;
  // border-radius: 5px;
  // border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  // box-shadow: 1px 1px 1px #000000;
  border: 1px solid $thumb-border-color;
  // height: 30px;
  // width: 15px;
  border-radius: 5px;
  // background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  // height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $background-color;
  // border: 1px solid #000000;
  // border-radius: 10px;
  // box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: $background-color;
  // border: 1px solid #000000;
  // border-radius: 10px;
  // box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  // margin-top: 1px;
  // box-shadow: 1px 1px 1px #000000;
  border: 1px solid $thumb-border-color;
  // height: 30px;
  // width: 15px;
  // border-radius: 5px;
  // background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $background-color;
}
input[type=range]:focus::-ms-fill-upper {
  background: $background-color;
}
