
$display-size-medium: 1040px;
$display-size-small: 600px;

$chat-nav-drawer-width: 320px;

$chat-nav-drawer-background-color: #272727;


$app-theme-color: #FC644B;

$dark-background-color: #121212;

$button-start-color: #FC644B; // amber
$button-end-color: #FFEA00; // yellow

$play-now-btn-background: linear-gradient(to right, $button-start-color, $button-end-color);

$anchor-link-color: /*#e5e9ec;*/ #BBBBBB;
$anchor-link-hover-color: #e5e9ec;

.common-link {
  color: $anchor-link-color !important;
  text-decoration: none;
  text-decoration-color: $anchor-link-color;

  &:hover {
    color: $anchor-link-hover-color !important;
    text-decoration: underline;
    text-decoration-color: $anchor-link-hover-color;
  }
}

.play-now-btn {
  color: black;
  background: $play-now-btn-background !important;
}
