<template>
  <div>
    <div class="content-container">
      <p>Upload an HTML5, WebGL or WebAssembly-based game application</p>
      <!-- App Type -->
      <v-select :items="appTypeList"
        v-model="selectedAppType"
        item-text="name" outlined
        item-value="uid"
        label="App Type"></v-select>
      <!-- app zip file drag and drop -->
      <div v-if="selectedAppType === APP_TYPE_SELF_HOSTED">
        <v-text-field label="App URL" outlined placeholder="https://cool-game.com/embed-url"></v-text-field>
      </div>
      <div v-else-if="selectedAppType !== APP_TYPE_SELF_HOSTED">
        <div v-if="showAppZipFileOption" class="app-zip-file-drag-area-container">
          <h4>App Zip File</h4>
          <p>Upload a zip file containing an index.html file in the root directory</p>
          <button id="appFolderDragAndDropArea" ref="fileDropArea" class="app-folder-drag-and-drop-area" @click="$refs.fileUploadBtn.click()">
            <v-icon>arrow_upward</v-icon>
            <h1 class="text-xs-center">Select file to upload</h1>
            <h3 class="text-xs-center">Or drag and drop file</h3>
          </button>
          <input ref="fileUploadBtn" style="display: none" type="file" @change="handleAppZipFileSelect($event)">
          <!--<span v-show="!isValidAppZipFile" class="red--text">App zip file is required</span>-->
        </div>
        <div v-show="uploadError.length > 0" class="app-upload-error">
          <h4 class="red--text">Error while uploading {{ fileName }}</h4>
          <p class="red--text">{{ uploadError }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

/* eslint-disable */
import dragDrop from 'drag-drop'

const APP_TYPE_SPA = 'single-page-app'
const APP_TYPE_SELF_HOSTED = 'self-hosted-app'

@Component({
  components: {}
})
class UploadAppDetails extends Vue {
  isValidForm: boolean = false

  selectedAppWebHost: any = {}
  appWebHostList: any[] = []

  appWebHostDetails = {}

  selectedAppType: string = APP_TYPE_SPA

  appTypeList: Array<{ uid: string, name: string }> = [{
    uid: APP_TYPE_SPA,
    name: 'Single Page App (SPA)'
  }, {
    uid: APP_TYPE_SELF_HOSTED,
    name: 'Self-Hosted App'
  }]

  showWhyUnzippedText: boolean = false

  appZipFile: File|undefined

  isValidAppZipFile: boolean = false

  appFileList: File[] = []

  fileName: string = 'game.zip'
  uploadProgress: number = 10
  uploadError: string = ''

  APP_TYPE_SPA = APP_TYPE_SPA
  APP_TYPE_SELF_HOSTED = APP_TYPE_SELF_HOSTED


  get showAppZipFileOption (): boolean {
    return true
  }

  // get showAppFileListOption (): boolean {
  //   let showOption = false
  //   switch (this.selectedAppWebHost.name) {
  //     case PROVIDER_NAME_DATARCHIVE:
  //       showOption = true
  //       break
  //     default:
  //       showOption = false
  //   }

  //   return false
  // }

  @Watch('isValidForm') onUpdateIsValidForm (isValidForm: boolean) {
    this.$emit('is-valid-form', isValidForm)
  }

  @Watch('isValidAppZipFile') onUpdateIsValidAppZipFile (isValidAppZipFile: boolean) {
    this.isValidForm = isValidAppZipFile
  }

  @Watch('selectedAppType') onUpdateSelectedAppType (value: string) {
    this.$emit('app-type', value)
  }

  // @Watch('selectedAppWebHost') onUpdateSelectedAppWebHostDetails (value: { uid: string, name: string }) {
  //   this.appWebHostDetails.providerUID = value.uid
  //   this.$emit('app-webhost-details', this.appWebHostDetails)
  // }

  mounted () {
    this.onUpdateSelectedAppType(this.selectedAppType)
    // this.onUpdateSelectedAppWebHostDetails(this.selectedAppWebHost)
    this.handleAppFileDrop()
  }

  handleAppFileDrop () {
    // console.log('reparing drop area: ', this.$refs.fileDropArea!.addEventListener)
    // ;(this.$refs.fileDropArea! as HTMLElement).addEventListener('drop', function (event) {
    //   event.preventDefault()
    //   console.log('drop event!!')
    // })
    dragDrop('#appFolderDragAndDropArea', (files: any) => {
      console.log('dropped! ', files)

      const file = files[0]
      this.fileName = file.name

      if (file.name.indexOf('.zip') < 0) {
        this.uploadError = 'Accepted file type extensions must be: zip'
        return
      }
    })
  }

  handleAppZipFileSelect (event: Event) {
    event.preventDefault()
    this.uploadError = ''

    const file = ((event.target as any).files as File[])[0]
    this.fileName = file.name

    if (file.name.indexOf('.zip') < 0) {
      this.uploadError = 'Accepted file type extensions must be: zip'
      return
    }

    this.appZipFile = file
    this.isValidAppZipFile = !!this.appZipFile
    this.$emit('app-zip-file', this.appZipFile)
  }

  handleAppFileListSelect (event: Event) {
    event.preventDefault()

    this.appFileList = (event.target as any).files as File[]
    this.$emit('app-file-list', this.appFileList)
  }
}

export default UploadAppDetails
</script>
<style scoped lang="scss">

.app-folder-drag-and-drop-area {
  padding: 48px;
  width: 100%;
  border-style: dashed;
  background: none;
  border-radius: 12px;
}
</style>
