<template>
  <div></div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {}
})
class UploadUserControlDetails extends Vue {

}

export default UploadUserControlDetails

</script>
